@import "settings";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    & .menu-hamburger {
        display: none;
    }
    & ul li.menu-text {
        padding: 8px 0px 0px 37px;
    }
    .menu-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
        width: 36px;
        height: 28px;
        overflow: hidden;
        &::after {
            box-shadow: 11px 14px 0px #fff;
            width: 100%;
        }
        &:hover::after {
            background: #fefefe;
            -webkit-box-shadow: 11px 14px 0px #fff;
            box-shadow: 11px 14px 0px #fff;
        }
    }
}

.top-bar {
    background-color: transparent;
    & ul {
        background-color: transparent;
    }
}

.wrapper {
    max-width: 1100px;
    margin: auto;
    height: 100%;
}

.sec-line {
    &::before {
        content: '';
        width: 129px;
        height: 100%;
        background-color: #ffc900;
        position: absolute;
        transform: skew(-18.5deg);
    }
}

.sec1 {
    background-image: url("../images/header.jpg");
    max-height: 768px;
    height: 780px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 24px;
    background-blend-mode: color;
    .sec1-header-top {
        position: absolute;
        right: 28.5vw;
        top: 0px;
        background-color: #232323;
        text-align: center;
        max-width: 209px;
        max-height: 109px;
        width: 100%;
        & .sec1-header-top-wrap {
            display: flex;
            padding: 28px 25px;
            &>div:not(:last-child) {
                margin-right: 15px;
            }
            &>div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &>div>p {
                font-size: 30px;
                font-weight: 900;
                margin-bottom: 0px;
                line-height: 1em;
            }
            &>div>span {
                color: #929292;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    &>.wrapper {
        position: relative;
        display: flex;
        //align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        z-index: 1;
        .sec1-grid1 {
            padding-bottom: 117px;
            padding-left: 3em;
            & p {
                line-height: 1.1em;
                padding-top: 15px;
            }
        }
        .sec1-grid2 {
            padding-left: 3em;
            &>.medium-7 {
                padding-left: 27px;
            }
        }
    }
    h1 {
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 4px;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
    }
    & .sec1-line {
        &::before {
            content: '';
            width: 129px;
            max-height: 626px;
            height: 100%;
            background-color: #ffc900;
            position: absolute;
            left: -47vw;
            bottom: -113px;
            transform: skew(-18.5deg);
        }
    }
    .sec1-menu {
        background: #fff;
        max-width: max-content;
        .wrapper {
            padding: 11px 39px;
        }
        a {
            color: #000;
            font-size: 12px;
            font-weight: 700;
            vertical-align: middle;
        }
        span {
            color: #000;
            vertical-align: middle;
            font-size: 12px;
            font-weight: 700;
            margin: 0 10px;
        }
    }
}

.sec2.why {
    max-height: 856px;
    height: 856px;
    position: relative;
    background-color: #232323;
    color: #fff;
    text-align: right;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .wrapper {
        height: auto;
    }
    & h2 {
        font-weight: 900;
        font-size: 70px;
        line-height: 1.1em;
    }
    & .one_text {
        transform: translateX(26px);
        padding-top: 97px;
        padding-bottom: 60px;
        position: relative;
        z-index: 1;
        & p {
            font-weight: 900;
            font-size: 30px;
            line-height: 1.2em;
            text-transform: uppercase;
        }
    }
    & .two_text {
        transform: translateX(-139px);
    }
    & img {
        display: block;
        margin-right: auto;
        width: 529px;
        height: auto;
        max-width: 529px;
        transform: translateX(-46px);
    }
    & .why-grid {
        height: 100%;
        padding-top: 38px;
        & .medium-5 {
            position: relative;
            z-index: 1;
        }
        & .medium-7 {
            position: relative;
        }
    }
    .sec-line {
        &::before {
            content: '';
            max-height: 270px;
            left: 50%;
            transform: translateX(-50%) translateY(-40px) skew(-18.5deg);
            //top: 0px;
        }
    }
}

@media all and (max-width:64em) {
    .sec2.why {
        max-height: 680px;
        .wrapper {
            width: 100%;
        }
        & .one_text {
            transform: translateX(110px);
            position: relative;
            z-index: 1;
            padding-top: 30px;
            padding-bottom: 30px;
            & h2 {
                font-size: 50px;
            }
            & p {
                font-size: 24px;
            }
        }
        & .two_text {
            transform: unset;
        }
        .why-grid {
            padding-top: 0px;
            img {
                width: 376px;
                margin-left: auto;
                margin-right: unset;
                transform: unset;
            }
        }
    }
}

@media all and (max-width:40em) {
    .sec1.header-sec {
        max-height: 640px;
    }
    .sec2.why {
        max-height: 680px;
        .wrapper {
            width: 100%;
        }
        & .one_text {
            transform: translateX(0);
            position: relative;
            z-index: 1;
            padding-top: 30px;
            padding-bottom: 11px;
            margin: 0 39px;
            & h2 {
                font-size: 35px;
            }
            & p {
                font-size: 22px;
            }
        }
        & .two_text {
            transform: unset;
            margin: 0 39px;
            font-size: 14px;
        }
        .why-grid {
            padding-top: 0px;
            &>div:first-child {
                padding-top: 44px;
                padding-bottom: 16px;
            }
            img {
                width: 100%;
                margin-left: auto;
                margin-right: unset;
                transform: unset;
                max-height: 253px;
                object-fit: cover;
            }
        }
    }
}

@media all and (min-width:40em) {
    .menu-icon {
        right: 100px;
    }
    .sec1 {
        .sec1-line::before {
            left: -4vw;
            bottom: -149px;
        }
        h1 {
            font-size: 50px;
            line-height: 65px;
        }
    }
    .sec1-grid1 {
        padding-left: 1.6em;
    }
    .sec1-grid2 {
        padding-left: 1.6em;
    }
}

@media all and (min-width:64em) {
    .sec1 {
        .sec1-line {
            &::before {
                content: '';
                width: 129px;
                max-height: 626px;
                height: 100%;
                background-color: #ffc900;
                position: absolute;
                left: 8.4rem;
                bottom: -133px;
                transform: skew(-18.5deg);
            }
        }
        h1 {
            font-size: 60px;
            line-height: 70px;
            letter-spacing: 4px;
            font-weight: 900;
            text-transform: uppercase;
            color: #fff;
        }
        & .sec1-header-top {
            right: 13.5vw;
        }
    }
}